<div class=" m-5 shadow p-5">
  <h1 class="text-center text-primary">Create a Post</h1>
  <div>
    <div class="mb-3">
      <label for="content" class="form-label h4">Post Content</label>
      <textarea id="content" class="form-control" [(ngModel)]="postText" rows="4"
        placeholder="What's on your mind?"></textarea>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="imageList" class="form-label h4">Image List</label>
          <div *ngIf="imageList && imageList.length > 0">
            <div *ngFor="let image of imageList; let i = index" class="mb-2">
              <img [src]="apiURL+image.url" class="img-fluid rounded" alt="Image {{i + 1}}">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" class="form-control" id="image" accept="image/*" (change)="handleImageInput()" multiple>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="videoList h4" class="form-label h4">Video List</label>
          <div *ngIf="videoList && videoList.length > 0">
            <div *ngFor="let video of videoList; let i = index" class="mb-2">
              <video [src]="apiURL+video.url" class="img-fluid rounded" controls></video>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="video" class="form-label">Video</label>
          <input type="file" class="form-control" id="video" accept="video/*" (change)="handleVideoInput()" multiple>
        </div>
      </div>
    </div>


    <div class="mb-3">
      <h4>Products</h4>
      <div class="row mb-3">
        <div class="col-4" *ngFor="let product of productList">
          <div class="card shadow-sm mb-3">
            <img src="{{ apiURL + product.mainImage.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{product.name}}</h6>
              <p class="card-text">{{product.seller.fullName}}</p>
            </div>

          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="video" class="form-label">Product</label>
        <input type="text" class="form-control" placeholder="Enter product" (input)="handleProductInput($event)"
          id="productInput">
        <!-- list="productSuggestions" -->
        <!-- <datalist id="productSuggestions">
          <option *ngFor="let product of productSuggestionnList">{{product.name}}</option>
        </datalist> -->
        <div class="list-group">
          <button *ngFor="let product of productSuggestionnList" class="list-group-item list-group-item-action"
            (click)="addProductToList(product)">
            <div class="d-flex w-100 justify-content-between">
              <img src="{{apiURL + product.mainImage.url}}" alt="" height="50" class="rounded me-2">
              <div>
                <h6 class="mb-1">{{product.name}}</h6>
                <small>by {{product.seller.fullName}}</small>
              </div>
              <img src="{{apiURL + product.seller.profilePicture.url}}" alt="" height="50" class="rounded ms-2">
            </div>
          </button>
        </div>
      </div>
    </div>


    <div class="mb-3">
      <label for="privacy" class="form-label h4">Privacy</label>
      <select class="form-select" [(ngModel)]="privacy">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label h4">Location</label>
      <input type="text" id="location" class="form-control" [(ngModel)]="location" placeholder="Enter location" />
    </div>

    <div class="mb-3">
      <p class="h4">Tag another post:</p>
      <input type="text" class="form-control" placeholder="Enter post tag" aria-label="Post Tag" [(ngModel)]="postTag">
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-outline-success w-50 " (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
