<div class="container my-5" *ngIf="id">

    <div id="details"*ngIf="jersey">
        
        <div class="card mb-4 shadow-sm">
            <div class="row g-0">
                <div class="col-md-5">
                    <img [src]="imageUrl" alt="Item Image" class="img-fluid rounded shadow-sm jersey-image"
                        [class.clicked]="isClicked" (click)="onImageClick()">

                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h3 class="card-title">{{ jersey.title }}</h3>
                        <p class="card-text">{{ jersey.description }}</p>
                        <ul class="list-group list-group-flush mb-3">
                            <!-- <li class="list-group-item"><strong>Available Sizes:</strong> {{ jersey.sizes.join(', ') -->
                            <!-- }}</li> -->
                            <!-- <li class="list-group-item"><strong>Price:</strong> ৳{{ jersey.price }}</li> -->
                        </ul>
                        <button class="btn btn-primary" [routerLink]="['/merchandise/order', id]">
                            Order Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</div>





