<div class="container my-3">

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-success" routerLink="/products/addProduct">Add Product</button>
  </div>

  <div class="row">
    <div *ngFor="let product of products" class="col-md-3 mb-4">
      <div class="card h-100">
        <!-- Product Image -->
        <img [src]="product.mainImage" class="card-img-top" alt="{{ product.name }}" width="300px" height="200px"/>

        <!-- Card Body -->
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text text-muted">{{ product.description }}</p>
          <p class="card-text">
            <span>Price: </span>
            <span *ngIf="product.discountPrice" class="text-decoration-line-through text-danger">
              {{ product.price | currency }}
            </span>
            <span>{{ product.discountPrice || product.price | currency }}</span>
          </p>
        </div>

        <!-- Stock Status Badge -->
        <div class="card-header bg-transparent text-end">
          <span class="badge" [ngClass]="{
              'bg-success': product.stockStatus === 'In Stock',
              'bg-danger': product.stockStatus === 'Out of Stock'
            }">
            {{ product.stockStatus }}
          </span>
        </div>

        <!-- Card Footer -->
        <div class="card-footer text-center ">
          <!-- <button class="btn btn-primary btn-sm" [disabled]="product.stockStatus === 'Out of Stock'">
            Add to Cart
          </button> -->
          <button *ngIf="!inCart(product.id)" class="btn btn-primary btn-sm"
            [disabled]="product.quantityAvailable == 0 || inCart(product.id)" (click)="addToCart(product)">
            Add to Cart
          </button>
          <a *ngIf="inCart(product.id)" class="btn btn-outline-info btn-sm" routerLink="/products/cart" role="button">View
            cart </a>
          <button class="btn btn-secondary btn-sm ms-5" [routerLink]="['/products/productDetails', product.id]">View
            Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-4">
  <button class="btn btn-primary" (click)="loadMore()">Load More</button>
</div>
