<app-my-profile></app-my-profile>
<div class="container-fluid">
    <h1 class="text-center text-primary m-3">People</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless align-middle">
            <thead class=" ">
                <caption>
                    All people
                </caption>
                <tr>
                    <th>ID</th>
                    <th> Name</th>
                    <th>Personal Details</th>
                    <th>Roles</th>
                    <th>Contact</th>
                    <th>Profile picture</th>
                    <th>Cover Photo</th>
                    <th>More</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let person of people" class="">
                    <td scope="row">{{person.id}}</td>
                    <td>{{person.fullName}} <br> #{{person.username}}</td>
                    <td>{{person.email}} <br> {{person.gender}} <br> {{person.dob | date:'longDate' }}</td>
                    <td>
                        <div *ngFor="let role of person.roles">
                            {{role.name}}
                        </div>
                    </td>
                    <td>{{person.phoneNumber}} <br> {{person.address}}</td>
                    <td><img [src]="getUrl(person.profilePicture)" alt="" class=" rounded-circle" width="100" ></td>
                    <td><img [src]="getUrl(person.coverPicture)" alt=""  height="100"></td>
                    <td>More..</td>
                    <td>Action</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>