<div class="container-fluid">
    <h2 class="text-center">Bike Messenger</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-pills w-100" id="bikeMessengerNav" role="tablist">
        <li class="nav-item w-50 text-center">
            <a
                href="#tab1Id"
                class="nav-link active"
                data-bs-toggle="tab"
                aria-current="page"
                >Merchent</a>
        </li>
        <li class="nav-item w-50 text-center">
            <a
                href="#tab2Id"
                class="nav-link"
                data-bs-toggle="tab"
                >Rider</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1Id" role="tabpanel">
            <form>
                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3"
                                placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="weight">Weight</label>
                            <input type="number" class="form-control" id="weight" placeholder="Weight">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="COD">COD</label>
                            <input type="number" class="form-control" id="COD" placeholder="COD">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="DC">DC</label>
                            <input type="number" class="form-control" id="DC" placeholder="DC">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="distance">Distance</label>
                            <input type="number" class="form-control" id="distance" placeholder="Distance">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="images">Images</label>
                            <input type="file" class="form-control-file" id="images" multiple>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="sender">Sender</label>
                            <select class="form-control" id="sender">
                                <option value="">Select sender</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="pickupInstructions">Pickup Instructions</label>
                            <textarea class="form-control" id="pickupInstructions" rows="3"
                                placeholder="Pickup Instructions"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="pickupTime">Pickup Time</label>
                            <input type="datetime-local" class="form-control" id="pickupTime" placeholder="Pickup Time">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="receiverName">Receiver Name</label>
                            <input type="text" class="form-control" id="receiverName" placeholder="Receiver Name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recieverPhone">Receiver Phone</label>
                            <input type="text" class="form-control" id="recieverPhone" placeholder="Receiver Phone">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recieverAddress">Receiver Address</label>
                            <input type="text" class="form-control" id="recieverAddress" placeholder="Receiver Address">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="deliveryInstructions">Delivery Instructions</label>
                            <textarea class="form-control" id="deliveryInstructions" rows="3"
                                placeholder="Delivery Instructions"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="deliveryTime">Delivery Time</label>
                            <input type="datetime-local" class="form-control" id="deliveryTime"
                                placeholder="Delivery Time">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

            <hr>
            <h2 class="text-center">My Percels</h2>
        </div>
        <div class="tab-pane fade" id="tab2Id" role="tabpanel">
            <div class="row justify-content-center align-items-center g-2">
                <div class="col-6">
                    All percel
                </div>
                <div class="col-6">
                    Accepted percel
                </div>
            </div>

        </div>
    </div>

    <!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
    <script>
        var triggerEl = document.querySelector("#bikeMessengerNav a");
        bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
    </script>
</div>