<div class=" my-5">
  <div class="row justify-content-center">
    <div class="col-md-10">

      <p class=" d-flex justify-content-between">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#newPostForm"
          aria-expanded="false" aria-controls="newPostForm">
          New Post
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#myProfile"
          aria-expanded="false" aria-controls="newPostForm">
          My Profile
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#setting"
          aria-expanded="false" aria-controls="newPostForm">
          Settings
        </button>
      </p>
      <div class="collapse" id="newPostForm">
        <!-- HTML Form -->

        <app-create-post></app-create-post>

      </div>
      <div class="collapse" id="myProfile">
        <div class="container mt-5">
          <h2>My Profile</h2>
          <div class="card">
            <div class="card-header">
              <img [src]="user.profilePicture" class="rounded-circle me-3" width="50" height="50" alt="Profile picture">
              <h5 class="d-inline">{{ user.name }}</h5>
            </div>
            <div class="card-body">
              <p><strong>Email:</strong> {{ user.email }}</p>
              <p><strong>Joined:</strong> {{ user.joinedDate | date }}</p>
              <p><strong>Bio:</strong> {{ user.bio }}</p>
            </div>
          </div>
        </div>



      </div>
      <div class="collapse" id="setting">
        <div class="container mt-5">
          <h2>Settings</h2>
          <!-- <form>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" id="username" class="form-control" formControlName="username"
                placeholder="Enter username" />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter email" />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password"
                placeholder="Enter password" />
            </div>

            <div class="mb-3">
              <label for="profilePicture" class="form-label">Profile Picture</label>
              <input type="text" id="profilePicture" class="form-control" formControlName="profilePicture"
                placeholder="Enter profile picture URL" />
            </div>

            <div class="mb-3">
              <label for="bio" class="form-label">Bio</label>
              <textarea id="bio" class="form-control" formControlName="bio" rows="3" placeholder="Enter bio"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form> -->
        </div>



      </div>


      <div class="d-flex justify-content-center mt-2" *ngIf="page">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-success" [disabled]="page.pageable.pageNumber === 0"
                (click)="onPageChange(page.pageable.pageNumber - 1)">Previous</button>
            <span *ngFor="let p of [].constructor(page.totalPages); let i = index">
                <button type="button" class="btn btn-outline-success" (click)="onPageChange(i)" *ngIf="page.pageable.pageNumber !== i">{{ i + 1 }}</button>
                <button type="button" class="btn btn-success" disabled *ngIf="page.pageable.pageNumber === i">{{ i + 1 }}</button>
            </span>
            <button type="button" class="btn btn-outline-success"
                [disabled]="page.pageable.pageNumber === page.totalPages - 1"
                (click)="onPageChange(page.pageable.pageNumber + 1)">Next</button>
        </div>
    </div>


      <div class="card my-4 shadow-sm" *ngFor="let post of posts">
        <!-- Card Header -->
        <div class="card-header d-flex align-items-center">
          <img [src]="apiUrl + post.creator.profilePicture.url" class="rounded-circle me-3" width="50" height="50"
            alt="User profile picture">
          <div>
            <h5 class="mb-0">{{ post.creator.fullName }}</h5>
            <!-- <small class="text-muted">{{ post.createdAt }}</small> -->
            <small class="text-muted">{{ post.createdAt | timeAgo }}</small>

          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <p class="mb-3">{{ post.postText }}</p>
          <div *ngIf="post.postImage.length>0" class="d-flex justify-content-around row mb-3">
            <img *ngFor="let image of post.postImage" [src]="apiUrl + image.url" class="img-fluid rounded col-3 h-100"
              alt="Post image">
          </div>
          <div *ngIf="post.postVideo.length>0" class="d-flex justify-content-around row mb-3">
              <video *ngFor="let video of post.postVideo" [src]="apiUrl + video.url" class="img-fluid rounded col-3 h-100" controls></video>
          </div>
        </div>

        <!-- Card Footer -->
        <div class="card-footer align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <button class="btn btn-outline-primary btn-sm me-2" (click)="likePost(post.id)" *ngIf="!isLiked(post.id)">
                <i class="bi bi-hand-thumbs-up"></i> Like
              </button>

              <button class="btn btn-primary btn-sm me-2" (click)="likePost(post.id)" *ngIf="isLiked(post.id)">
                <i class="bi bi-hand-thumbs-up"></i> Liked
              </button>

              <!-- TODO liked button -->
              <button class="btn btn-outline-secondary btn-sm me-2" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#commentCollapse' + post.id" aria-expanded="false" [attr.aria-controls]="'commentCollapse' + post.id">
                <i class="bi bi-chat"></i> Comment
              </button>

              <button class="btn btn-outline-secondary btn-sm" (click)="sharePsot(post.id)">
                <i class="bi bi-share"></i> Share
              </button>
            </div>
            <small class="text-muted">{{ post.likers.length}} Likes • {{ post.comments.length}} Comments</small>
          </div>
          <div class="input-group my-3">
            <input type="text" class="form-control" placeholder="Write a comment..." id="{{'comment'+post.id}}">
            <button class="btn btn-primary" type="button" (click)="addComment(post.id)">Post</button>
          </div>
        </div>

        <div class="collapse" [id]="'commentCollapse' + post.id">
          <div class="card-footer  align-items-center">
            <div *ngIf="post.comments.length>0; else noComment">
              <div *ngFor="let comment of post.comments" class="mb-2">
                <div class="d-flex align-items-center">
                  <img src="{{ apiUrl + comment.user.profilePicture.url }}" class="rounded-circle me-2" height="30" alt="">
                  <div>
                    <strong>{{ comment.user.fullName }}:</strong>
                    <p class="mb-1">{{ comment.commentText }}</p>
                  </div>
                  <div class="text-end ms-auto">
                    <div><i>{{ comment.createdAt | timeAgo }}</i></div>
                    <small class="text-muted">{{ comment.replies ? comment.replies.length : 0 }} Replies</small>
                    <a class="btn btn-link" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseReply' + comment.id" aria-expanded="false" aria-controls="collapseReply">
                      Reply
                    </a>
                  </div>
                </div>
                <div class="collapse" [id]="'collapseReply' + comment.id">
                  <div class="ms-5">
                    <div *ngFor="let reply of comment.replies">
                      <div class="d-flex align-items-center">
                        <img src="{{ apiUrl + reply.user.profilePicture.url }}" class="rounded-circle me-2" height="30" alt="">
                        <div>
                          <strong>{{ reply.user.fullName }}:</strong>
                          <p class="mb-1">{{ reply.commentText }}</p>
                        </div>
                        <div class="text-end ms-auto">
                          <div><i>{{ reply.createdAt | timeAgo }}</i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-group my-2">
                    <input type="text" placeholder="Write a reply..." id="{{'commentReply'+comment.id}}" class="form-control" aria-label="Reply input">
                    <button type="button" class="btn btn-outline-primary" (click)="addCommentReply(comment.id)">Reply</button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <ng-template #noComment>
              <p>No comments yet.</p>
            </ng-template>

          </div>
        </div>


        <h5 *ngIf="post.products.length>0" class="card-footer">Suggested products : </h5>
        <div *ngIf="post.products.length>0" class="d-flex justify-content-around">
          <div *ngFor="let product of post.products">
            <div class="card shadow-sm m-2" >
              <div [routerLink]="'/products/productDetails/' + product.id">
                <img [src]="apiUrl + product.mainImage.url" class="card-img-top" style="height: 100px; object-fit: content;"
                  alt="">
              </div>
              <div class="card-body p-2">
                <p class="card-text">{{product.name}}</p>
                <p class="card-text">by {{product.seller.fullName}}</p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="d-flex justify-content-center mt-2" *ngIf="page">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-success" [disabled]="page.pageable.pageNumber === 0"
                (click)="onPageChange(page.pageable.pageNumber - 1)">Previous</button>
            <span *ngFor="let p of [].constructor(page.totalPages); let i = index">
                <button type="button" class="btn btn-outline-success" (click)="onPageChange(i)" *ngIf="page.pageable.pageNumber !== i">{{ i + 1 }}</button>
                <button type="button" class="btn btn-success" disabled *ngIf="page.pageable.pageNumber === i">{{ i + 1 }}</button>
            </span>
            <button type="button" class="btn btn-outline-success"
                [disabled]="page.pageable.pageNumber === page.totalPages - 1"
                (click)="onPageChange(page.pageable.pageNumber + 1)">Next</button>
        </div>
    </div>
    </div>
  </div>
</div>

<div style="position: fixed; bottom: 20px; right: 20px;">
  <a routerLink="/home/createPost" class="btn btn-success btn-floating rounded-circle">
    <i class="bi bi-plus"></i>
  </a>

</div>
