<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center">Welcome back</h3>
        </div>
        <div class="card-body">
          <form>

            <div class="text-center">
              <img class="mb-4" src="assets/logo/logo1.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            </div>

            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017 - 2022</p>
          </form>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <span>New to us? <a routerLink="/signup" class="text-primary">Sign Up</a></span>
          <span>Forgot pass? <a routerLink="/resetpass" class="text-primary">Click here</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- todo: navigation  -->
