<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center">Welcome back</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

            <div class="text-center">
              <img class="mb-4" src="assets/logo/logo1.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" [ngClass]="usernameState" placeholder="username"
                formControlName="username">
              <label>Username (required to log in)</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid username.
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" [ngClass]="passwordState" placeholder="Password"
                formControlName="password">
              <label>Password</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Password doesnt look good
              </div>
            </div>

            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" formControlName="rememberMe" value="false"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <div class="text-center m-3">{{messege}}</div>
            <div class="btn-group w-100 " role="group" aria-label="Button group">
              <button class="btn btn-primary w-50" type="button" (click)="loadDemo('Demo')">Demo</button>
              <button class="btn btn-secondary dropdown-toggle w-50" type="button" id="triggerId" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Other users
              </button>
              <div class="dropdown-menu" aria-labelledby="triggerId">
                <button class="dropdown-item" *ngFor="let username of usernames" (click)="loadDemo(username)">{{username}}</button>
              </div>
            </div>

            <p class="mt-5 mb-3 text-muted">&copy; 2017 - 2022</p>
          </form>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <span>New to us? <a routerLink="/signup" class="text-primary">Sign Up</a></span>
          <span>Forgot pass? <a routerLink="/resetpass" class="text-primary">Click here</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- todo: navigation  -->
