<div class="table-responsive">
    <table class="table table-striped table-hover table-borderless  align-middle">
        <thead class="">
            <caption>
                All_Memo
            </caption>
            <tr>
                <th>Memo Number</th>
                <th>Date</th>
                <th>Buyer Name</th>
                <th>Buyer Address</th>
                <th>Buyer Phone Number</th>
                <th>Buyer Email</th>
                <th>Item Count</th>
                <th>Subtotal</th>
                <th>Discount</th>
                <th>Delivery Charge</th>
                <th>Service Charge</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let memo of allMemo" (click)="clicked(memo)">
                <td>{{ memo.memoNumber }}</td>
                <td>{{ memo.date | date }}</td>
                <td>{{ memo.buyerName }}</td>
                <td>{{ memo.buyerAddress }}</td>
                <td>{{ memo.buyerPhoneNumber }}</td>
                <td>{{ memo.buyerEmail }}</td>
                <td>
                    {{memo.memoItems.length}}
                </td>
                <td>{{ memo.subtotal | currency }}</td>
                <td>{{ memo.discount | currency }}</td>
                <td>{{ memo.deliveryCharge | currency }}</td>
                <td>{{ memo.serviceCharge | currency }}</td>
                <td>{{ memo.total | currency }}</td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
<div class="d-flex justify-content-center mt-2" *ngIf="page">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-success" [disabled]="page.pageable.pageNumber === 0"
        (click)="onPageChange(page.pageable.pageNumber - 1)">Previous</button>
      <span *ngFor="let p of [].constructor(page.totalPages); let i = index">
            <button type="button" class="btn btn-outline-success" (click)="onPageChange(i)" *ngIf="page.pageable.pageNumber !== i">{{ i + 1 }}</button>
            <button type="button" class="btn btn-success" disabled *ngIf="page.pageable.pageNumber === i">{{ i + 1 }}</button>
        </span>
      <button type="button" class="btn btn-outline-success"
        [disabled]="page.pageable.pageNumber === page.totalPages - 1"
        (click)="onPageChange(page.pageable.pageNumber + 1)">Next</button>
    </div>
  </div>



<!-- Modal Body -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Memo Number : {{ selectedMemo?.memoNumber }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-4" *ngIf="selectedMemo">
                    <div class="card-header bg-info text-white">
                        <h4>Memo Summary</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Buyer Name:</strong> {{ selectedMemo.buyerName }}</p>
                        <p><strong>Email:</strong> {{ selectedMemo.buyerEmail }}</p>
                        <p><strong>Phone:</strong> {{ selectedMemo.buyerPhoneNumber }}</p>
                        <p><strong>Address:</strong> {{ selectedMemo.buyerAddress }}</p>
        
                        <h5 class="mt-4">Items Purchased:</h5>
                        <ul>
                            <li *ngFor="let item of selectedMemo.memoItems">{{ item.quantity }} x {{ item.product.name }} at {{ item.price | currency }}
                            </li>
                        </ul>
        
                        <p class="mt-4">Service Charge: {{ selectedMemo.serviceCharge | currency }}</p>
                        <p class="mt-4">Delivery Charge: {{ selectedMemo.deliveryCharge | currency }}</p>
                        <p class="mt-4">Discount: {{ selectedMemo.discount | currency }}</p>
        
                        <h5 class="mt-4">Total Amount: {{ selectedMemo.total | currency }}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
