

header {
  animation: fadeIn 1s;
}

section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  animation: slideIn 1s ease-out;
}

section h2 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  animation: fadeIn 2s;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


