<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action">Users</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Admin Dashboard
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome, Admin!</h5>
          <p class="card-text">Use the sidebar to navigate through the admin options.</p>
        </div>
      </div>
    </div>
  </div>
</div>
