<nav id="nav-example" class="nav nav-tabs justify-content-center fixed-bottom">
  <a class="nav-link text-dark" href="#div1">Div 1</a>
  <a class="nav-link text-dark" href="#div2">Div 2</a>
  <a class="nav-link text-dark" href="#div3">Div 3</a>
</nav>
<div>
  <div data-bs-spy="scroll" data-bs-target="#nav-example" data-bs-smooth-scroll="true" tabindex="0">
    <div id="div1" class="bg-primary" style="height: 100vh">
      div1
    </div>
    <div id="div2" class="bg-success" style="height: 100vh">
      div2
    </div>
    <div id="div3" class="bg-light" style="height: 100vh">
      div3
    </div>
  </div>
</div>


<p>demo works!</p>
