<nav id="nav-example" class="nav nav-tabs justify-content-center fixed-bottom">
  <a class="nav-link text-dark" href="#dashboard">Dashboard</a>
  <a class="nav-link text-dark" href="#users">Users</a>
  <a class="nav-link text-dark" href="#settings">Settings</a>
  <a class="nav-link text-dark" href="#reports">Reports</a>
</nav>
<div>
  <div data-bs-spy="scroll" data-bs-target="#nav-example" data-bs-smooth-scroll="true" tabindex="0">
    <div id="dashboard" class="bg-primary" style="height: 100vh">
      <div class="card">
        <div class="card-header">
          Admin Dashboard
          {{messege}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome, Admin!</h5>
          <p class="card-text">Use the sidebar to navigate through the admin options.</p>
        </div>
      </div>
    </div>
    <div id="users" class="bg-success" style="height: 100vh">
      Users
    </div>
    <div id="settings" class="bg-light" style="height: 100vh">
      Settings
    </div>
    <div id="reports" class="bg-warning" style="height: 100vh">
      Reports
    </div>
  </div>
</div>
