<nav class="navbar navbar-expand-lg bg-info sticky-top py-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/intro"><img src="assets/logo/logo2.png" height="30px" class="me-2">South Dhaka Cyclists</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav nav-tabs me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" data-bs-toggle="tab">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" data-bs-toggle="tab">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messges" data-bs-toggle="tab">Messege</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people" data-bs-toggle="tab">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" data-bs-toggle="tab">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" data-bs-toggle="tab">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bikeMessenger" data-bs-toggle="tab">Bike Messenger</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demo" data-bs-toggle="tab">Demo</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{appComponent.getUser()?.username || 'More'}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" type="button" (click)="sign()">Sign {{appComponent.getUser() ? 'out' : 'in'}}</button></li>
            <li><button class="dropdown-item" type="button" routerLink="/products/cart" >Cart</button></li>
            <li><button class="dropdown-item" type="button" routerLink="/**" >Report A bug</button></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>


