<nav class="navbar navbar-expand-sm bg-info sticky-top py-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/intro"><img src="assets/logo/logo2.png" height="30px" class="me-2">
      <span class="d-none d-md-inline">South Dhaka Cyclists</span>
      <span class="d-inline d-md-none">SDC</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav nav-tabs me-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" data-bs-toggle="tab"><i class="bi bi-house-door px-xl-3 p-0 px-sm-1"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/messges" data-bs-toggle="tab"><i class="bi bi-chat-left-dots px-xl-3 p-0 px-sm-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people" data-bs-toggle="tab"><i class="bi bi-people px-xl-3 p-0 px-sm-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" data-bs-toggle="tab"><i class="bi bi-calendar2-event px-xl-3 p-0 px-sm-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" data-bs-toggle="tab"><i class="bi bi-shop px-xl-3 p-0 px-sm-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bikeMessenger" data-bs-toggle="tab"><i class="bi bi-bicycle px-xl-3 p-0 px-sm-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/storage" data-bs-toggle="tab"><i class="bi bi-sd-card px-xl-3 p-0 px-sm-1"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" data-bs-toggle="tab"><i class="bi bi-speedometer2 px-xl-3 p-0 px-sm-1"></i></a>
        </li>
        <li class="nav-item" *ngIf="isDev()">
          <a class="nav-link" routerLink="/demo" data-bs-toggle="tab"><i class="bi bi-music-note-beamed px-xl-3 p-0 px-sm-1"></i></a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <div class="me-2">
          <input type="checkbox" class="checkbox" id="checkbox" (change)="toggleTheme()">
          <label for="checkbox" class="checkbox-label">
            <i class="fas fa-moon text-light"></i>
            <i class="fas fa-sun text-warning"></i>
            <span class="ball"></span>
          </label>
        </div>
        <!-- <input class="form-control me-2 d-lg-inline d-none" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success d-lg-inline d-none" type="submit"><i class="bi bi-search"></i></button> -->
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-fill me-2"> {{getUser()?.username || 'More'}}</i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" type="button" (click)="sign()">Sign {{getUser() ? 'out' : 'in'}}</button>
            </li>
            <li><button class="dropdown-item" type="button"
                routerLink="/products/cart"><i class="bi bi-cart3"> Cart </i></button></li>
            <li><button class="dropdown-item" type="button" routerLink="/**">  <i class="bi bi-bug"> Bugs</i></button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>





<router-outlet></router-outlet>


