
.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }
  
  
  #mainNavbar {
    transition: all 0.4s ease-in-out;
    transform: translateY(0);
    opacity: 1;
    padding: 1rem;
    background: transparent;
    backdrop-filter: none;
    box-shadow: none;
    z-index: 1030;
  }
  
  #mainNavbar.scrolled {
    background: rgba(23, 162, 184, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  #mainNavbar.hide {
    transform: translateY(-100%);
    opacity: 0;
  }
    






  