#wrapper {
    display: flex;
    width: 100%;
  }
  
  #sidebar-wrapper {
    min-width: 220px;
    max-width: 220px;
    height: 100vh;
    transition: margin 0.3s ease;
  }
  
  #sidebar-wrapper.toggled {
    margin-left: -220px;
  }
  
  #page-content-wrapper {
    flex-grow: 1;
  }



  