<div class="row">
  <div class="col-md-6">
    <img src="https://picsum.photos/512/256?random=1" class="img-fluid" style="height: auto; width: 100%;" alt="">
  </div>
  <div class="col-md-6">
    <img src="https://picsum.photos/512/256?random=2" class="img-fluid" style="height: auto; width: 100%;" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img src="https://picsum.photos/512/256?random=3" class="img-fluid" style="height: auto; width: 100%;" alt="">
  </div>
  <div class="col-md-4">
    <img src="https://picsum.photos/512/256?random=4" class="img-fluid" style="height: auto; width: 100%;" alt="">
  </div>
  <div class="col-md-4">
    <img src="https://picsum.photos/512/256?random=5" class="img-fluid" style="height: auto; width: 100%;" alt="">
  </div>
</div>

