<h1 class="text-center my-4">
  All Events
</h1>

<div class="container">
  <h2 class="my-4">Upcoming Events</h2>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Day of Week</th>
        <th>From Location</th>
        <th>To Location</th>
        <th>Start Time</th>
        <th>Expecting Duration</th>
        <th>Distance</th>
        <th>Description</th>
        <th>Organiser</th>
        <th>Sponsor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events" (click)="onEventClick(event.id)">
        <td>{{ event.name }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.dayOfWeek }}</td>
        <td>{{ event.fromLocation }}</td>
        <td>{{ event.toLocation }}</td>
        <td>{{ event.startTime }}</td>
        <td>{{ event.duration }}</td>
        <td>{{ event.distance }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.organiser }}</td>

        <td  >
          <a  *ngIf="event.sponsor" class="btn btn-outline-primary"  role="button">{{event.sponsor.name}}</a>
          <a  *ngIf="isSeller()" class="btn btn-outline-success"  role="button">Click to become one</a>

        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center my-4">
    <a class="btn btn-primary" routerLink="/events/addevents">Add Event</a>
  </div>
  <h2 class="my-4">Past Events</h2>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Day of Week</th>
        <th>From Location</th>
        <th>To Location</th>
        <th>Start Time</th>
        <th>Expecting Duration</th>
        <th>Distance</th>
        <th>Description</th>
        <th>Organiser</th>
        <th>Sponsor</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let event of events" (click)="onEventClick(event.id)">
        <!-- <a [routerLink]="['/events/event', event.id]"> -->
        <td>{{ event.name }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.dayOfWeek }}</td>
        <td>{{ event.fromLocation }}</td>
        <td>{{ event.toLocation }}</td>
        <td>{{ event.startTime }}</td>
        <td>{{ event.duration }}</td>
        <td>{{ event.distance }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.organiser }}</td>
        <td  *ngIf="event.sponsor">
          <a  class="btn btn-outline-primary"  role="button">{{event.sponsor.name}}</a>


        </td>
        <!-- </a> -->
      </tr>

    </tbody>
  </table>

</div>
