<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center">Welcome</h3>
        </div>
        <div class="card-body">
          <form>

            <div class="text-center">
              <img class="mb-4" src="assets/logo/logo1.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 fw-normal">Please Provide some info</h1>
            </div>

            <div class="form-floating mb-2">
              <input type="text" class="form-control" placeholder="">
              <label >Full Name</label>
            </div>
            <div class="form-floating mb-2">
              <input type="text" class="form-control" placeholder="">
              <label >Contact Number</label>
            </div>
            <div class="form-floating mb-2">
              <input type="email" class="form-control" placeholder="name@example.com">
              <label >Email address (required to log in)</label>
            </div>
            <div class="form-floating mb-2">
              <input type="text" class="form-control"  placeholder="">
              <label >Address</label>
            </div>
            <div class="form-floating mb-2">
              <input type="date" class="form-control" placeholder="">
              <label >Date of Birth</label>
            </div>
            <div class="form-floating mb-2">
              <select class="form-control">
                <option value="N">Not mentioned</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
              <label >Gender</label>
            </div>
            <div class="form-floating mb-2">
              <input type="password" class="form-control"  placeholder="Password">
              <label >Password</label>
            </div>
            <div class="form-floating mb-2">
              <input type="password" class="form-control"  placeholder="Password">
              <label >Retype Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017 - 2022</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- todo: navigation  -->
