<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center">Welcome</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

            <div class="text-center">
              <img class="mb-4" src="assets/logo/logo1.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 fw-normal">Please Provide some info</h1>
            </div>

            <div class="form-floating mb-2">
              <input type="text" class="form-control" [ngClass]="usernameState" placeholder=""
                formControlName="username">
              <label>Full Name</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid name.(atleast 3 characters)
              </div>
            </div>
            <div class="form-floating mb-2">
              <input type="text" class="form-control" [ngClass]="contactState" placeholder="" formControlName="contact">
              <label>Contact Number</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid number.(atleast 10 digits)
              </div>
            </div>
            <div class="form-floating mb-2">
              <input type="email" class="form-control" [ngClass]="emailState" placeholder="name@example.com"
                formControlName="email">
              <label>Email address (required to log in)</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid email.(__ &#64; __.__)
              </div>
            </div>
            <div class="form-floating mb-2">
              <input type="text" class="form-control" [ngClass]="addressState" placeholder="" formControlName="address">
              <label>Address</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid address.(atleast 10 characters)
              </div>
            </div>
            <div class="form-floating mb-2">
              <input type="date" class="form-control" [ngClass]="dobState" formControlName="dob">
              <label>Date of Birth</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please provide a valid Date.(must be at least 10 years old)
              </div>
            </div>
            <div class="form-floating mb-2">
              <select class="form-control" formControlName="gender" [ngClass]="genderState">
                <option value="N">Not mentioned</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
              <label>Gender</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Choose one
              </div>
            </div>
            <div class="form-floating mb-2">
              <input type="password" class="form-control" [ngClass]="passwordState" placeholder="Password"
                formControlName="password">
              <label>Password</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Must include at least one number and one uppercase and lowercase letter, special character and at least
                8 or more
              </div>
            </div>
            <div *ngIf="signupForm.get('password')?.value.length>0">
              <small>we dont store your password in plain text.</small> <br>
              the encrypted password is: {{hashPassword(signupForm.get('password')?.value)}}
            </div>
            <div class="form-floating mb-2">
              <input type="password" class="form-control" [ngClass]="retypePasswordState" placeholder="Password"
                formControlName="retypePassword">
              <label>Retype Password</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Password doesnt match.
              </div>
            </div>
            <div *ngIf="signupForm.get('retypePassword')?.value.length>0">
              checking retyped pass against encrypted pass: <br>
              test pass:
              {{comparePassword(signupForm.get('retypePassword')?.value,hashPassword(signupForm.get('password')?.value))}}
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit" data-bs-toggle="modal"
              data-bs-target="#modalId">Sign Up</button>
            <button class="w-100 btn btn-lg btn-secondary mt-2" type="button" (click)="onReset()">Reset</button>
            <button class="w-100 btn btn-lg btn-info mt-2" type="button" (click)="fillDemoData()">Fill Demo
              Data</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017 - 2022</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Body -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Form status
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">{{messege}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
  const myModal = new bootstrap.Modal(
    document.getElementById("modalId"),
    options,
  );
</script>

<!-- todo: navigation  -->
