<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 px-3 border-bottom border-secondary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-1 ">SDC<span class="text-danger">-</span>Bikewala</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Main Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarMain">
      <!-- Search Bar -->
      <form class="d-flex mx-auto my-2 my-lg-0 w-25">
        <input class="form-control bg-dark text-light border-0 border-bottom" type="search" placeholder="Search term ..." />
        <button class="btn text-light" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>

      <!-- Right Icons -->
      <ul class="navbar-nav ms-auto d-flex flex-row align-items-center gap-3 text-light mt-2 mt-lg-0">
        
        <li class="nav-item"><i class="bi bi-heart"></i></li>
        <li class="nav-item"><i class="bi bi-person"></i></li>
        <li class="nav-item"><i class="bi bi-bag"></i></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Category Menu -->
<div class="bg-secondary-subtle text-light px-3 py-2 border-bottom border-secondary ">
  <div class="container-fluid d-flex flex-wrap gap-3 fs-6 justify-content-center">
  
    <div class="container-fluid d-flex flex-wrap gap-3 fs-6 justify-content-evenly mx-5" >
    <div *ngFor="let link of menuItems" routerLink="{{link.link}}">{{link.name}}</div>
  </div>
</div>
